@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at top, #0f172a, #020617);
}


.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html {
  scroll-behavior: smooth;
}